body {
  font-family: 'Nunito', sans-serif;
  color: #6f6f6f;
}

.marker {
  background-size: cover;
  background-color: red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.filters {
  z-index: 1337;
  top:0;
  left: 0;
  display: block;
  position: fixed;
  font-weight: 800;
}

.filters ul {
  list-style-type: none;
  margin: 0;
}

.filters li {
  float: left;
  padding: 10px;
  background: white;
  border-radius: 4px;
  margin: 4px;
}

.filters ul li:nth-of-type(1n+3) {
  display: none;
}

.filters ul li#toggle:checked + li:nth-of-type(1n+3) {
  display: block;
}